<h1>Emails#show</h1>
TO: <h1><%= @email.to %> </h1>
From: <h1><%= @email.from %> </h1>
Subject: <h1><%= @email.subject %> </h1>
Body: <textarea><%= @email.body %> </textarea>
Created at: <h1><%= @email.created_at %> </h1>



